<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h1>
        Upload Your files
    </h1>
    <form action="/results" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <br>
        <input type="radio" class="radio-btn" id="style1" name="style" value="static/style_imgs/wave.jpg">
        <label for="style1">Wave</label><br>
        <input type="radio" class="radio-btn" id="style2" name="style" value="static/style_imgs/comp7.jpg">
        <label for="style2">Comp7</label><br>  
        <input type="radio" class="radio-btn" id="style3" name="style" value="static/style_imgs/starrynight.jpg">
        <label for="style3">Starry Night</label><br><br>
        <input type="submit" value="Upload!">
    </form>
</body>
</html>